[id^="consonant-"].rune .rune-segment.upper-left {
  height: 1px;
  width: 30.04px;
  rotate: 33.689deg;
  top: 75%;
  left: -5%;
}

[id^="consonant-"].rune .rune-segment.upper-middle {
  height: 33.3px;
  width: 1px;
  left: 50%;
}

[id^="consonant-"].rune .rune-segment.upper-right {
  height: 1px;
  width: 30.04px;
  rotate: -33.689deg;
  top: 75%;
  right: -5%;
}

[id^="consonant-"].rune .rune-segment.center {
  height: 33.3px;
  width: 1px;
  left: 50%;
}

[id^="consonant-"].rune .rune-segment.lower-left {
  height: 1px;
  width: 30.04px;
  rotate: -33.689deg;
  bottom: 75%;
  left: -5%;
}

[id^="consonant-"].rune .rune-segment.lower-middle {
  height: 33.3px;
  width: 1px;
  left: 50%;
}

[id^="consonant-"].rune .rune-segment.lower-right {
  height: 1px;
  width: 30.04px;
  rotate: 33.689deg;
  bottom: 75%;
  right: -5%;
}

#consonant-1 {

  .upper-left,
  .upper-middle,
  .upper-right,
  .center,
  .lower-middle {
    display: none;
  }
}


#consonant-2 {

  .upper-middle,
  .upper-right,
  .center,
  .lower-middle {
    display: none;
  }
}

#consonant-3 {
  .middle {
    display: block;
  }
}

#consonant-4 {

  .upper-left,
  .upper-middle,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#consonant-5 {

  .upper-left,
  .upper-right,
  .lower-left,
  .lower-middle {
    display: none;
  }
}

#consonant-6 {

  .upper-middle,
  .lower-left,
  .lower-right {
    display: none;
  }
}


#consonant-7 {

  .upper-left,
  .upper-right,
  .lower-middle {
    display: none;
  }
}

#consonant-8 {

  .upper-left,
  .lower-left,
  .lower-middle {
    display: none;
  }
}


#consonant-9 {

  .upper-left,
  .upper-middle,
  .lower-left {
    display: none;
  }
}

#consonant-10 {

  .upper-left,
  .upper-right,
  .lower-middle,
  .lower-right {
    display: none;
  }
}

#consonant-11 {

  .upper-right,
  .upper-middle,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#consonant-12 {

  .upper-left,
  .upper-middle,
  .lower-right {
    display: none;
  }
}

#consonant-13 {

  .upper-right,
  .lower-left,
  .lower-middle {
    display: none;
  }
}

#consonant-14 {

  .lower-left,
  .lower-right {
    display: none;
  }
}

#consonant-15 {

  .upper-left,
  .upper-right {
    display: none;
  }
}

#consonant-16 {

  .upper-left,
  .lower-right {
    display: none;
  }
}

#consonant-17 {

  .upper-right,
  .lower-left {
    display: none;
  }
}

#consonant-18 {

  .upper-middle {
    display: none;
  }
}

#consonant-19 {


  .lower-middle {
    display: none;
  }
}

#consonant-20 {

  .upper-left,
  .upper-right,
  .lower-left {
    display: none;
  }
}

#consonant-21 {

  .upper-left,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#consonant-22 {

  .upper-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#consonant-23 {

  .upper-middle,
  .center,
  .lower-left,
  .lower-middle,
  .lower-right {
    display: none;
  }
}

#consonant-24 {

  .upper-left,
  .upper-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}