#vowel-1.rune::after {
  content: 'æ';
}

#vowel-2.rune::after {
  content: 'o';
}

#vowel-3.rune::after {
  content: 'ei';
}

#vowel-4.rune::after {
  content: 'e';
}
#vowel-5.rune::after {
  content: 'uh';
}

#vowel-6.rune::after {
  content: 'ua';
}

#vowel-7.rune::after {
  content: 'i';
}

#vowel-8.rune::after {
  content: 'iu';
}

#vowel-9.rune::after {
  content: 'er';
}

#vowel-10.rune::after {
  content: 'uo';
}

#vowel-11.rune::after {
  content: 'ar';
}

#vowel-12.rune::after {
  content: 'i?';
}

#vowel-13.rune::after {
  content: 'ei';
}

#vowel-14.rune::after {
  content: 'ai';
}

#vowel-16.rune::after {
  content: 'ao';
}

#vowel-17.rune::after {
  content: 'ou?';
}

#vowel-18.rune::after {
  content: 'uer';
}

#consonant-1.rune::after {
  content: 'm';
}

#consonant-2.rune::after {
  content: 'n';
}

#consonant-3.rune::after {
  content: 'ng';
}

#consonant-4.rune::after {
  content: 'p';
}

#consonant-5.rune::after {
  content: 'v';
}

#consonant-6.rune::after {
  content: 'rh/t';
}

#consonant-7.rune::after {
  content: 'dh';
}

#consonant-8.rune::after {
  content: 'k';
}

#consonant-9.rune::after {
  content: 'gh';
}
#consonant-11.rune::after {
  content: 'rh';
}

#consonant-12.rune::after {
  content: 'f';
}

#consonant-14.rune::after {
  content: 't';
}

#consonant-15.rune::after {
  content: 'th/k?';
}

#consonant-16.rune::after {
  content: 's';
}

#consonant-17.rune::after {
  content: 'v?/rd?/s?';
}

#consonant-18.rune::after {
  content: 'sh';
}

#consonant-20.rune::after {
  content: 'j?';
}

#consonant-21.rune::after {
  content: 'r';
}

#consonant-22.rune::after {
  content: 'll';
}

#consonant-23.rune::after {
  content: 'g?';
}

#consonant-24.rune::after {
  content: 'l';
}