#outer-1.rune::after {
  content: 'æ';
}

#outer-2.rune::after {
  content: 'o';
}

#outer-3.rune::after {
  content: 'ei';
}

#outer-4.rune::after {
  content: 'e';
}

#outer-6.rune::after {
  content: 'ua';
}

#outer-7.rune::after {
  content: 'i';
}

#outer-8.rune::after {
  content: 'iu';
}

#outer-9.rune::after {
  content: 'er';
}

#outer-10.rune::after {
  content: 'uor';
}

#outer-12.rune::after {
  content: 'i?';
}

#outer-14.rune::after {
  content: 'ai';
}

#outer-16.rune::after {
  content: 'ao';
}

#outer-17.rune::after {
  content: 'ou?';
}

#inner-1.rune::after {
  content: 'm';
}

#inner-2.rune::after {
  content: 'n';
}

#inner-3.rune::after {
  content: 'ng';
}

#inner-4.rune::after {
  content: 'p';
}

#inner-5.rune::after {
  content: 'v';
}

#inner-6.rune::after {
  content: 'rh/t';
}

#inner-7.rune::after {
  content: 'd';
}

#inner-8.rune::after {
  content: 'k';
}

#inner-12.rune::after {
  content: 'f';
}

#inner-15.rune::after {
  content: 'th/k?';
}

#inner-16.rune::after {
  content: 's';
}

#inner-17.rune::after {
  content: 'v?/rd?/s?';
}

#inner-18.rune::after {
  content: 'sh';
}

#inner-20.rune::after {
  content: 'j?';
}

#inner-21.rune::after {
  content: 'r';
}

#inner-22.rune::after {
  content: 'll';
}

#inner-23.rune::after {
  content: 'g?';
}

#inner-24.rune::after {
  content: 'l';
}