#vowels-container .rune .rune-segment.upper-left {
  height: 1px;
  width: 41.64px;
  rotate: -53.102deg;
  top: 50%;
  left: -16%;
}

#vowels-container .rune .rune-segment.upper-right {
  height: 1px;
  width: 41.64px;
  rotate: 53.102deg;
  top: 50%;
  right: -16%;
}

#vowels-container .rune .rune-segment.middle-left {
  height: 33.3px;
  width: 1px;
  top: 0;
  left: 0;
}

#vowels-container .rune .rune-segment.middle-right {
  height: 33.3px;
  width: 1px;
  top: 0;
  right: 0;
}



#vowels-container .rune .rune-segment.lower-left {
  height: 1px;
  width: 41.64px;
  rotate: 53.102deg;

  bottom: 50%;
  left: -16%;
}

#vowels-container .rune .rune-segment.lower-right {
  height: 1px;
  width: 41.64px;
  rotate: -53.102deg;

  bottom: 50%;
  right: -16%;
}

#outer-1 {

  .middle-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#outer-2 {

  .upper-right,
  .middle-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#outer-3 {

  .upper-left,
  .upper-right,
  .middle-left,
  .middle-right {
    display: none;
  }
}

#outer-4 {

  .upper-left,
  .upper-right,
  .middle-right {
    display: none;
  }
}

#outer-5 {

  .upper-left,
  .upper-right,
  .middle-right,
  .lower-right {
    display: none;
  }
}

#outer-6 {

  .middle-left,
  .middle-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}


#outer-7 {

  .upper-right,
  .middle-right {
    display: none;
  }
}

#outer-8 {

  .middle-right,
  .lower-right {
    display: none;
  }
}


#outer-9 {

  .upper-left,
  .middle-right {
    display: none;
  }
}

#outer-10 {

  .middle-right,
  .lower-left {
    display: none;
  }
}

#outer-11 {

  .middle-left,
  .middle-right {
    display: none;
  }
}

#outer-12 {

  .upper-right,
  .middle-right,
  .lower-left {
    display: none;
  }
}

#outer-13 {

  .upper-right,
  .middle-left,
  .middle-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#outer-14 {

  .upper-left,
  .middle-left,
  .middle-right,
  .lower-left,
  .lower-right {
    display: none;
  }
}

#outer-15 {

  .upper-left,
  .upper-right,
  .middle-left,
  .middle-right,
  .lower-right {
    display: none;
  }
}

#outer-16 {

  .upper-left,
  .upper-right,
  .middle-left,
  .middle-right,
  .lower-left {
    display: none;
  }
}

#outer-17 {

  .middle-right {
    display: none;
  }
}

#outer-18 {

  .upper-left,
  .upper-right,
  .middle-right,
  .lower-left {
    display: none;
  }
}